* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    background: #101214;
}

.header{
    width: 100%;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    top: 0;
    background: #101214;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid #23272B;
    z-index: 30;
}
.header_logo{
    width: 4%;
    margin-left: 2.5%;
}
.header_logo img{
    object-fit: cover;
    width: 100%;
}

.header_navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-left: 2.5%;
}
.header_navigation_anchor{
    margin-right: 2.5%;
    display: flex;
    width: 17.5%;
}
.header_navigation_anchor_mobile{
    display: none;
}
.header_navigation_link{
    margin-right: 7.5%;
}

.header_navigation a{
    text-decoration: none;
    /* typo */
    color: #DFE4EA;
    font-family: 'Hanken Grotesk';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
}
.header_navigation a:hover{
    text-decoration: underline;
}
/* --- contact --- */


#contact-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 18, 20, 0.98);;
    z-index: 100;
  }
  
  .contact-content {
    margin-top: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .contact-content h2 {
    margin-left: 2.5%;
    margin-top: 0;
    font-family: 'Hanken Grotesk';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px; /* 131.25% */    
    color: #B8C2CE;
    text-transform: uppercase;
    margin-bottom: 60px;
    border-bottom: 1px solid #3A4149;
    width: 95%;
  }
  
  .contact-content ul {
    list-style: none;
    padding: 0;
    margin-left: 2.5%;
  }
  
  .contact-content li {
    margin-bottom: 50px;
  }
  
  .contact-content a {
    text-decoration: none;
    width: 80%;
    margin-right: 0;
  }
  li a{
    color: #B8C2CE;
    font-family: 'Hanken Grotesk';
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px; /* 131.25% */
  }
  .contact-content span{
    font-size: 40px;
  }
  .close-link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 4%;
    left: 92%;
    color: #B8C2CE;
    font-family: 'Hanken Grotesk';
  }
  

/* heading content */

.project_title{
    margin-top: 360px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project_title_shape{
    width: 10%;
    height: 1px;
    background: #FFF;
    margin-left: 0;
}
.project_title_text{
    color: #FFF;
    font-family: 'Hanken Grotesk';
    font-size: 124px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 131.25% */
    width: 85%;
    margin-left: 0;
}

/* ----- meta data ----- */

.meta_data_container{
    width: 95%;
    margin-top: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.meta_data_block{
    margin-left: 0;
    width: fit-content;
}
.meta_data_label{
    color: #D1D5DB;
    font-family: 'Hanken Grotesk';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;  
}
.meta_data_text{
    color: #FFF;
    font-family: 'Hanken Grotesk';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px; /* 132% */    
}
.main_banner_image{
    margin-top: 40px;
    width: 95%;
}
.main_banner_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.main_banner_image_mobile{
    display: none;
}

/* --- duo image --- */

.duo_image_container{
    margin-top: 40px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px 5%;
}
.duo_image_block{
    width: 50%;
    margin-top: 40px;
}
.duo_image_block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/* --- full width image --- */

.full_width_img_container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.full_width_img_container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}
.full_width_img_container_mobile{
    display: none;
}

/* --- text_container --- */

.text_container{
    width: 60%;
    margin-left: 7.5%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.text_container h2{
    padding-top: 16px;
    margin-top: 20px;
    color: #B8C2CE;
    font-family: 'Hanken Grotesk';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;    
    text-transform: uppercase;
}
.text_container p{
    color: #DFE4EA;
    font-family: 'Hanken Grotesk';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 130% */
    margin-top: 4px;
}

/* --- other project --- */

.otherproject_container{
    margin-top: 100px;
    width: 95%;
}
.otherproject_container h2{
    width: 100%;
    padding-top: 16px;
    border-bottom: 1px solid #3A4149;
    /* typo */ 
    color: #B8C2CE;
    font-family: 'Hanken Grotesk';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px; /* 131.25% */    
}
.otherproject_next{
    width: 100%;
    margin-left: 0;
    padding: 64px 0px;
    display: flex;
    flex-direction: row;
}
.otherproject_next a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.otherproject_title_next{
    color: #DFE4EA;
    font-family: 'Hanken Grotesk';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 131.25% */
    margin-right: 0;
}
.otherproject_arrow_next{
    color: #DFE4EA;
    font-family: 'Hanken Grotesk';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 131.25% */
    margin-left: 32px;
}
.otherproject_next:hover {
    background-color: #8F9BAA;
    transition: .3s;
}
.otherproject_next:hover .otherproject_title_next, 
.otherproject_next:hover .otherproject_arrow_next{
    color: #101214;
}



/* ---- footer ----- */

footer{
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 24px;
    width: 95%;
    color: #D1D5DB;
    font-family: 'Hanken Grotesk';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top: 1px solid #3A4149;
    display: flex;
    flex-direction: row;
}
.footer_made_by{
    margin-left: 0;
}
.footer_mobile_LinkedIn{
    display: none;
}
.footer_top{
    margin-right: 0;
}
.footer_top a{
    color: #D1D5DB;
    font-style: normal;
}




/* responsive */

@media screen and (max-width: 425px){
    
    .header{
        flex-direction: column;
        align-items: center;
    }
    .header_logo{
        width: 20%;
        margin-left: auto;
    }
    .header_navigation{
        margin-left: auto;
        margin-top: 16px;
        background: none;
    }
    .header_navigation_anchor{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header_navigation_anchor div{
        width: fit-content;
    }
    .header_navigation_anchor_mobile{
        display: block ;
    }
    .header_navigation_contact{
        display: none;
    }
    .header_navigation_link{
        display: none;
    }

    /* ---- */


    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer_mobile{
        display: block;
    }
    .footer_mobile_LinkedIn{
        margin-left: 0;
    }
    .footer_top{
        margin-right: 0;
    }
    .footer_made_by{
        font-size: 12px;
    }

    /* --- heading --- */

    .project_title{
        margin-top: 240px;
        margin-bottom: 20px;
    }
    .project_title_text{
        font-size: 56px;
        line-height: 110%;
        width: 100%;
    }
    .meta_data_container{
        flex-wrap: wrap;
        gap: 24px 32px;
        margin-top: 160px;
    }
    .meta_data_label{
        font-size: 14px;
    }
    .meta_data_text{
        font-size: 18px;
    }

    .main_banner_image{
        margin-top: 40px;
        height: auto;
        display: none;
    }
    .main_banner_image img{
        object-fit: cover;
        border-radius: 4px;
    }
    .main_banner_image_mobile{
        display: block;
        width: 95%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .main_banner_image_mobile img{
        width: 100%;
        object-fit: contain;
        height: 100%;
        border-radius: 4px;
    }

    /* --- text --- */

    .text_container{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .text_container h2{
        font-size: 14px;
        padding-top: 0;
    }
    .text_container p{
        font-size: 16px;
        line-height: 120%;
    }

    /* --- image --- */
    
    .duo_image_container{
        margin-top: 0px;
    }
    .duo_image_block{
        margin-top: 0px;
    }
    .full_width_img_container{
        margin-top: 40px;
        height: auto;
        display: none;
    }
    .full_width_img_container_mobile{
        margin-top: 40px;
        height: auto;
        display: block;
        width: 95%;
    }
    .full_width_img_container_mobile img{
        width: 100%;
        object-fit: contain;
        height: 100%;
        border-radius: 4px;
    }

    /* --- other project --- */

    .otherproject_container{
        margin-top: 60px;
    }
    .otherproject_container h2{
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .otherproject_title_next,
    .otherproject_arrow_next{
        font-size: 24px;
        line-height: 130%;
    }

    /* --- contact --- */

    .close-link{
        left: 80%;
    }
    li a{
        font-size: 40px;
    }
    .contact-content li{
        margin-bottom: 24px;
    }
    .contact-content h2{
        margin-bottom: 40px;
    }
    .contact-content span{
        font-size: 32px;
    }
}